#first-division{
    height: 200px;
    width: 200px;
    background-color: rgb(226, 109, 216);
}
h3{
    color: rgb(14, 13, 13);
}
.div1{
    background-color: rgb(27, 219, 20);
    height: 100vmax;
    width: 100%;
}
#first-division{
    background-color: rgb(48, 204, 9);
}